<mat-card style="margin-top: 10%; padding: 20px 50px; display: flex; align-self: center; align-items: center;">
    <mat-card-title style="display:flex;align-self:center; ">
        <h2 >SSO Log in</h2>
    </mat-card-title>
    <mat-card-subtitle>
        You need to be signed in with your oddo-bhf email to use this application 
    </mat-card-subtitle>
    <button mat-raised-button style="width: 55%; display: flex; align-self: center; margin-top:30px;">
        log in
    </button>
</mat-card>
