<mat-card
  style="
    margin-top: 10%;
    padding: 20px 0px;
    display: flex;
    align-self: center;
    align-items: center;
  "
>
  <mat-card-title
    style="display: flex; align-self: center; margin-bottom: 20px"
  >
    <h2>Register</h2>
  </mat-card-title>

  <mat-card-subtitle>
    Create a new account to use this application
    <br />
  </mat-card-subtitle>

  <mat-card-content style="width: 90%">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <mat-form-field style="width: 100%">
        <mat-label>Username</mat-label>
        <input
          matInput
          placeholder="Enter your username"
          formControlName="username"
          required
        />
        <mat-error *ngIf="registerForm.get('username')?.invalid">{{
          usernameErrorMessage()
        }}</mat-error>
      </mat-form-field>

      <br />

      <mat-form-field style="width: 100%">
        <mat-label>Email</mat-label>
        <input
          matInput
          placeholder="pat@example.com"
          formControlName="email"
          required
        />
        <mat-error *ngIf="registerForm.get('email')?.invalid">{{
          emailErrorMessage()
        }}</mat-error>
      </mat-form-field>

      <br />

      <mat-form-field style="width: 100%">
        <mat-label>Password</mat-label>
        <input
          matInput
          [type]="hidePassword() ? 'password' : 'text'"
          required
          formControlName="password"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="togglePasswordVisibility($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hidePassword()"
        >
          <mat-icon>{{
            hidePassword() ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>

        <mat-error *ngIf="registerForm.get('password')?.invalid">{{
          passwordErrorMessage()
        }}</mat-error>
      </mat-form-field>

      <br />

      <mat-form-field style="width: 100%">
        <mat-label>Confirm Password</mat-label>
        <input
          matInput
          [type]="hideConfirmPassword() ? 'password' : 'text'"
          required
          formControlName="confirmPassword"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="toggleConfirmPasswordVisibility($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hideConfirmPassword()"
        >
          <mat-icon>{{
            hideConfirmPassword() ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
        <mat-error >{{
          confirmPasswordErrorMessage()
        }}</mat-error>
      </mat-form-field>

      <button
        mat-flat-button
        style="width: 100%; margin-top: 30px;"
      >
        Register
      </button>
    </form>

    <button
      mat-raised-button
      style="width: 100%; margin-top: 10px; color: #3c715dc4"
      routerLink="/"
    >
      Already have an account? Login
    </button>
  </mat-card-content>
</mat-card>
