<mat-card>
  <mat-card-header>
    <div style="width: 100%">
      <div style="display: flex; gap: 20px">
        <!-- green available icon -->
        <div
          mat-card-avatar
          *ngIf="
            (!licence?.currentSession && !licence?.bookedByUserId) ||
            licence?.bookedByUserId == user?.id
          "
          ngClass="available-image"
        ></div>
        <!-- spinner -->
        <mat-spinner
          color="warn"
          style="margin: 10px"
          [diameter]="40"
          *ngIf="
            licence?.currentSession ||
            (licence?.bookedByUserId && licence?.bookedByUserId != user?.id)
          "
        ></mat-spinner>
        <div>
          <!-- card title: licence number -->
          <mat-card-title>Licence n°{{ licence?.id }}</mat-card-title>

          <!-- taken by or being requested or available -->
          <!--  -->
          <mat-card-subtitle>
            <!-- being requested -->
            @if(licence?.bookedByUserId){ @if(licence?.bookedByUserId==user?.id)
            { Available for you only now
            <br />
            <!-- licence booking time left timer -->
            <countdown
              [config]="bookCountdownConfig"
              (event)="handleBookCountDown($event)"
            ></countdown>
            } @else {Being Requested } }

            <!-- taken by user -->
            @else if (licence?.currentSession) { Taken by
            {{ licence?.currentSession?.user?.userName }}
            <br />

            <!-- session time left timer -->
            <countdown
              [config]="sessionCountdownConfig"
              (event)="handleSessionCountDown($event)"
            ></countdown>

            }
            <!--available  -->
            @else { Available }
          </mat-card-subtitle>
        </div>
      </div>

      <!-- return and extend licence button -->
      @if(licence?.currentSession?.user?.id == user?.id){
      <mat-card-subtitle>
        <mat-card-actions align="end" style="margin-top: -30px">
          @if (licencesAvailable && isExtendable ) {
          <button
            *ngIf="licence"
            mat-flat-button
            style="background-color: #3c715d; margin-right: 10px"
            (click)="extendLicence(licence.id)"
          >
            Extend Licence
          </button>
          }
          <button
            color="warn"
            *ngIf="licence"
            mat-raised-button
            (click)="returnLicence(licence.id)"
          >
            Return Licence
          </button>
        </mat-card-actions>
      </mat-card-subtitle>
      }
      <!--take licence  button -->
      @else { @if(licence && user){
      <mat-card-actions align="end" style="margin-top: -50px">
        <button
          mat-flat-button
          [disabled]="
            isUserStudying ||
            user.isRequesting ||
            licence.currentSession ||
            (licence.bookedByUserId && licence.bookedByUserId != user.id)
          "
          (click)="
            takeLicence(licence.id, user, licence.bookedByUserId == user.id)
          "
        >
          Take Licence
        </button>
      </mat-card-actions>
      }}
    </div>
  </mat-card-header>
</mat-card>
