<mat-card>
  <mat-card-header>
    <div style="width: 100%">
      <div style="display: flex; gap: 20px">
        <div mat-card-avatar [ngClass]="licence?.currentSession ? 'taken-image' : 'available-image'"></div>
        <div>
          <!-- card title: licence number -->
          <mat-card-title>Licence n°{{ licence?.id }}</mat-card-title>

          <!-- taken by or available -->
          <mat-card-subtitle>
            @if (licence?.currentSession) { Taken by {{
              licence?.currentSession?.user?.name
            }}
            }
            @else {
              Available
            }
          </mat-card-subtitle>
        </div>
      </div>

      <!-- timer and return licence -->
      @if (licence?.currentSession) {
      <mat-card-subtitle>
        <mat-card-actions align="start">
          <countdown #cd [config]="countdownConfig"></countdown>        
        </mat-card-actions>
        @if(licence?.currentSession?.user?.id == user?.id){
        <mat-card-actions align="end" style="margin-top: -50px;">
          <button *ngIf="licence" mat-raised-button (click)="returnLicence(licence.id)">Return Licence</button>
        </mat-card-actions>
      }
      </mat-card-subtitle>
      }
       <!--take licence  -->
      @else {
        @if(licence && user){
      <mat-card-actions align="end" style="margin-top: -20px;">
        <button mat-flat-button [disabled]="user.isStudying" (click)="takeLicence(licence.id, user)">Take Licence</button>
      </mat-card-actions>
      }}
    </div>
  </mat-card-header>
</mat-card>
