
mat-card{
    padding: 0% 2%;
    background-color: #fdfbffbe;
}
mat-card-subtitle {
    font-size: 0.9rem;
    margin-left: 16px;
    font-weight: 100;
  }
.available{
    background-image: url("../../../../../public/available.png");
    background-size: cover;
}
.unavailable{
    background-image: url("../../../../../public/unavailable.png");
    background-size: cover;
}
.learning{
    background-image: url("../../../../../public/learning.png");
    background-size: cover;
}