
mat-card{
    padding: 0% 2%;
    background-color: #fdfbffbe;
}
mat-card-subtitle {
    font-size: 0.9rem;
    margin-left: 16px;
    font-weight: 100;
  }
.logo{
    background-image: url("../../../../../public/logo.png");
    background-size: cover;

}